<div class="wrapper">
  <div class="header">Thanks for Registering</div>
  <div class="form-start">
    <fieldset>
      <legend>Registered Details</legend>
      <div class="name-field">
        <div class="firstName">
          <label for="fname">First Name : </label> {{ message.fname }}
        </div>
        <div class="lastName">
          <label for="lname">Last Name : </label>
          {{ message.lname }}
        </div>
      </div>
      <div class="email-field">
        <label for="email">Email : </label>
        {{ message.email }}
      </div>
      <div class="phone-field">
        <label for="phone">Contact Number : </label>
        {{ message.phone }}
      </div>
    </fieldset>
  </div>
</div>
